torch==1.12.1
allennlp==0.8.4
python-Levenshtein==0.12.1
transformers==4.20.1
scikit-learn==0.20.0
sentencepiece==0.1.95
overrides==4.1.2
numpy==1.19.5

benepar==0.2.0
tqdm==4.64.1
googletrans==3.1.0a0 #Google Translate
jieba==0.42.1 #Chinese Tokenization
nagisa==0.2.8 #Japanese Tokenization
konlpy==0.6.0 # Korean Tokenization